{% extends 'proyecto/inicio.html' %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
          {% for celular in celulares %}
          <div class="col-md-6 mb-4">
            <div class="card">
              <img src="{{ celular.imagenProducto.url }}" class="card-img-top" alt="Imagen">
              <div class="card-body">
                <h5 class="card-title">{{ celular.titulo }}</h5>
                <p class="card-text">{{ celular.contenido }}</p>
                <p class="card-text">Marca: {{ celular.marca }}</p>
                <p class="card-text">Precio: ${{ celular.precio }}</p>
              </div>
            </div>
              <button><a href="{% url 'celular' celular.id %}">Ver más</a></button>
          </div>
          {% empty %}
          <div class="col-12">
            <p>No se ha encontrado ninguna publicación de este tipo.</p>
          </div>
          {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}